/* Colors */

$white: #fff;
$black: #000;
$dark-blue: #236092;
$blue: #aab9c8;
$dark-red: #93272d;
$red: #c63c3c;
$pink: #d28282;
$light-gray: #e6e6e6;
$gray: #cccccc;
$dark-brown: #906b2a;
$brown: #c89655;
$light-brown: #d7b47d;

/* Fonts */

$OpenSans_Regular: "Open Sans", sans-serif;

$Pf_Din: "Pf Din Text Comp Pro", sans-serif;


/*---"PF Din Text Comp Pro - Regular"---*/

/*font-family: "PF Din Text Comp Pro - Regular";
font-size: 24px;


/*font-family: "PF Din Text Comp Pro - Regular";
font-size: 20px;


/*font-family: "PF Din Text Comp Pro - Regular";
font-size: 19px;


/*font-family: "PF Din Text Comp Pro - Regular";
font-size: 18px;


/*font-family: "PF Din Text Comp Pro - Regular";
font-size: 16px;


/*font-family: "PF Din Text Comp Pro - Medium";
font-size: 35px;


/*font-family: "PF Din Text Comp Pro - Medium";
font-size: 24px;


/*font-family: "PF Din Text Comp Pro - Medium";
font-size: 22px;


/*font-family: "DIN Condensed - Bold";
font-size: 20px;


/*font-family: "DIN Condensed - Bold";
font-size: 18px;


/*font-family: "DIN Condensed - Bold";
font-size: 14px;*/


/* Reset */

%Reset {
  margin: 0;
  padding: 0;
}

/*title*/

$h1: 28px;
$h2: 25px;
$h3: 22px;
$h4: 19px;
$h5: 16px;
$h6: 14px;