main {
  padding: 185px 0px 65px 0px;
}

.mb-35 {
  margin-bottom: 35px;
}

.top-article {
  height: 140px;
}

.article_1 {
  height: 454px;
}

.article-sidebar {
  display: flex;
  flex-direction: column;
}

.article-sidebar-1,
.article-sidebar-2 {
  height: 217px;
}

.article-sidebar-1 {
  margin-bottom: 20px;
}

.article_2 {
  height: 220px;
}

.article_3 {
  height: 460px;
}

.article_4,
.article_5 {
  height: 220px;
}

.article_4 {
  margin-bottom: 20px;
}

.best-article {
  height: 593px;
}

.article_6,
.article_7 {
  height: 460px;
}

.article_8,
.article_9 {
  height: 460px;
}

.opinion {
  text-align: center;
}

.opinion_1,
.opinion_2,
.opinion_3 {
  height: 206px;
}

.radio {
  height: 160px;
}

.top-article,
.article_1,
.article-sidebar-1,
.article-sidebar-2,
.article_2,
.article_3,
.article_4,
.article_5,
.best-article,
.article_6,
.article_7,
.article_8,
.article_9,
.opinion_1,
.opinion_2,
.opinion_3,
.radio {
  width: 100%;
  border-radius: 13px;
  background-color: $gray;

  &:hover {
    box-shadow: 0px 0px 15px rgba(35, 96, 146, 0.30);
  }
}