main {
  padding: 185px 0px 65px 0px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.pt-50 {
  padding-top: 50px;
}

.top-article {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      -183deg,
      rgba(0, 0, 0, 0.48) 0%,
      rgba(35, 96, 146, 0.84) 93%
    );
    // background-image: linear-gradient(184deg, rgba(0, 0, 0, 0.48) 0%, rgba(35, 96, 146, 0.84) 100%);
    border-radius: 13px;
    z-index: 1;
  }

  & img {
    @extend %img;
    border-radius: 13px;
  }

  &:hover img {
    filter: blur(8px);
  }
}

.top-article_box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 2%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 2;
}

.date {
  flex: 0 0 5%;
  height: 95px;
  color: $blue;
  font-family: $Pf_Din;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  border-right: 1px solid $blue;
  padding: 8px 15px 0px 0px;

  & span span {
    font-size: 48px;
    font-weight: 700;
    line-height: 33px;
  }
}

.top-article_info {
  flex: 0 0 88%;

  & p {
    margin: 0;
    font-family: $OpenSans_Regular;
    font-size: 13px;
    color: $white;
    font-family: $OpenSans_Regular;
    font-size: 13px;
    font-style: italic;
  }
}

.title-news {
  display: block;
  color: $light-gray;
  font-family: $Pf_Din;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 26px;

  &:hover {
    color: $light-gray;
  }
}

.news-item {
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  transition: all 0.35s ease;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    border-radius: 0 0 13px 13px;
    background-image: linear-gradient(
      180deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.48) 38%,
      rgba(50, 69, 88, 0.92) 100%
    );
    z-index: 1;
  }

  & .chif-img {
    @extend %img;
    border-radius: 13px;
  }

  &:hover {
    .chif-img {
      filter: blur(8px);
    }

    & .news-item_box {
      top: 0;
      background-image: linear-gradient(
        180deg,
        rgba(50, 69, 88, 0.36) 0%,
        rgba(50, 69, 88, 0.49) 38%,
        #324558 100%
      );
      border-radius: 13px;
      z-index: 5;

      & .news-item_text p {
        display: block;
      }
    }
  }
}

.icon-box {
  width: 56px;
  height: 46px;
  border-radius: 13px 0 8px;
  background-color: rgba(35, 96, 146, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 12px;

  & img {
    display: block;
    width: 24px;
    height: 22px;
    margin: auto;
  }
}

.news-item_box {
  padding: 20px;
  border-radius: 13px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.news-item_info,
.news_line_noback,
.news_small_box {
  & .date-1 {
    position: relative;
    padding-left: 12px;

    & span {
      color: $blue;
      font-family: $Pf_Din;
      font-size: 16px;
      font-weight: 400;

      &::before {
        display: inline-block;
        content: "";
        width: 19px;
        height: 20px;
        background-image: url(../img/calendar.svg);
        position: absolute;
        left: 0px;
        top: 6px;
      }
    }
  }
}

.news-item_text {
  color: $white;
  font-family: $OpenSans_Regular;
  font-size: 13px;
  line-height: 20px;
  font-style: italic;
  padding-top: 15px;
  overflow-y: scroll;

  & p {
    margin: 0;
    display: none;
    overflow: auto;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 97px;
  position: absolute;
  left: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #aab9c8;
}

.article-sidebar {
  display: flex;
  flex-direction: column;
}

.box-50:hover {
  display: flex;
  justify-content: space-between;

  & .news-item_info {
    flex: 0 0 55%;
    padding-right: 10px;

    & .title-news {
      font-size: 22px;
    }
  }

  & .news-item_text {
    flex: 0 0 45%;
  }
}

.icon-news::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 20px;
  background-image: url(../img/photo-camera.svg);
  margin-right: 5px;
}

.sticker-partners {
  display: inline-block;
  width: 128px;
  height: 23px;
  color: #aab9c8;
  font-family: $Pf_Din;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #aab9c8;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
}

.news_line_noback {
  height: 157px;
  background-color: #ffffff;
  border-radius: 13px;
  padding: 15px;

  &:hover {
    box-shadow: 0 0 18px rgba(35, 96, 146, 0.23);
  }

  & .line-noback-info {
    display: flex;
    flex-direction: column;

    & .title-news_gray {
      color: #5d6267;
      font-family: $Pf_Din;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      margin-top: 10px;
    }
  }

  & .scrollbar {
    padding: 0;
  }

  & .date-1 {
    margin-top: 10px;
  }
}

.news_small_box {
  display: flex;
  flex-direction: column;
  height: 220px;
  background-color: #ffffff;
  border-radius: 13px;
  padding-top: 15px;

  &:hover {
    box-shadow: 0 0 18px rgba(35, 96, 146, 0.23);
  }

  & .small-box-info {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;

    & .title-news_gray {
      color: #5d6267;
      font-family: $Pf_Din;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      margin-top: 10px;
    }
  }

  & .scrollbar {
    padding: 0;
  }

  & .date-1 {
    margin-top: auto;
    height: 44px;
    border-radius: 0 0 13px 13px;
    background-color: rgba(170, 185, 200, 0.41);

    & span {
      line-height: 44px;
      padding-left: 15px;
    }
  }
}

.article_3 {
  height: 460px;
}

.article_4,
.article_5 {
  height: 220px;
}

.article_4 {
  margin-bottom: 20px;
}

.best-article {
  height: 593px;
}

.article_6,
.article_7 {
  height: 460px;
}

.article_8,
.article_9 {
  height: 460px;
}

.opinion {
  text-align: center;
}

.opinion_1,
.opinion_2,
.opinion_3 {
  height: 206px;
}

.radio {
  height: 160px;
}

.top-article,
.news-item,
.news-sidebar_item,
.article_2,
.article_3,
.article_4,
.article_5,
.best-article,
.article_6,
.article_7,
.article_8,
.article_9,
.opinion_1,
.opinion_2,
.opinion_3,
.radio {
  width: 100%;
  border-radius: 13px;
  background-color: $dark-blue;

  &:hover {
    box-shadow: 0px 0px 18px rgba(35, 96, 146, 0.3);
  }
}
