main {
  padding: 217px 0px 65px 0px;
}

.top-article {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      -183deg,
      rgba(0, 0, 0, 0.48) 0%,
      rgba(35, 96, 146, 0.84) 93%
    );
    border-radius: 13px;
    z-index: 1;
  }

  & img {
    @extend %img;
    border-radius: 13px;
  }

  & .top-article_box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 2%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 2;

    & .date {
      flex: 0 0 5%;
      height: 95px;
      color: $blue;
      font-family: $Pf_Din;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
      border-right: 1px solid $blue;
      padding: 8px 15px 0px 0px;
      margin: auto 0px;

      & span span {
        font-size: 48px;
        font-weight: 700;
        line-height: 33px;
      }
    }

    .top-article_info {
      flex: 0 0 88%;
      overflow: hidden;

      & p {
        margin: 0;
        font-family: $OpenSans_Regular;
        font-size: 13px;
        color: $white;
        font-family: $OpenSans_Regular;
        font-size: 13px;
        font-weight: 300;
        font-style: italic;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title-news {
        line-height: 24px;
      }
    }
  }
}

.podcust {
  display: flex;
  justify-content: space-between;
  border-radius: 13px;

  & .chif-img_box {
    flex: 0 0 40%;
    position: relative;

    & img {
      @extend %img;
      border-radius: 13px 0px 0px 13px;
    }

    & .btn-box {
      position: absolute;
      left: 15px;
      bottom: 15px;
    }
  }

  & .podcust-news {
    padding: 15px 15px 43px 15px;
    background-color: #fff;
    border-radius: 0px 13px 13px 0px;
    position: relative;

    & .title-news_gray {
      color: #5d6267;
      font-family: $Pf_Din;
      font-size: 19px;
      font-weight: 400;
      line-height: 25px;

      & strong {
        font-weight: 500;
      }
    }

    & .date-1 {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }
}

.best-news {
  height: 593px;
  position: relative;
  border-radius: 13px;
  overflow: hidden;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 13px;
    background-image: linear-gradient(
      180deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.65) 37%,
      rgba(50, 69, 88, 0.8) 100%
    );
    z-index: 1;
  }

  & img {
    @extend %img;
    border-radius: 13px;
    filter: blur(8px);
  }

  & .best-news_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 15px 15px 50px 15px;
    border-radius: 13px;

    & h2 {
      margin: 0;
      color: $white;
      font-family: $Pf_Din;
      font-size: 35px;
      font-weight: 500;
      line-height: 35px;
      text-align: center;

      &::before {
        display: inline-block;
        content: "";
        width: 28px;
        height: 25px;
        background-image: url("../img/warning.svg");
        margin-right: 10px;
      }
    }

    & .best-text {
      display: block;
      color: $white;
      font-family: $Pf_Din;
      font-size: 27px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      margin-bottom: 40px;
    }

    & .best-news_box {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;

      & .best-news_list {
        flex: 0 0 50%;

        & .best-news_item {
          flex: 0 0 48%;
          height: 108px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 45px;

          &:last-child {
            margin-bottom: 0;
          }

          & .news-num {
            flex: 0 0 16%;
            height: 108px;
            border-radius: 8px;
            background-color: rgba(170, 185, 200, 0.67);
            text-align: center;

            & span {
              color: $white;
              font-family: $Pf_Din;
              font-size: 48px;
              font-weight: 700;
              line-height: 108px;
            }
          }

          & .news-info {
            flex: 0 0 80%;
            position: relative;
            padding-bottom: 28px;

            & .title-news {
              color: $light-gray;
              font-family: $Pf_Din;
              font-size: 20px;
              font-weight: 400;
              margin: 5px 0px;
              text-decoration: none;

              & strong {
                font-weight: 500;
              }

              &:hover {
                color: #fff;
              }
            }

            & .date-1 {
              position: absolute;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.news-rightbox {
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
  background-color: #fff;

  & .news-rightbox_item {
    padding: 40px 18px 28px 30px;
    border-radius: 8px;
    box-shadow: 2px 0 10px -1px rgba(0, 0, 0, 0.07);
  }

  & .news-rightbox_item2 {
    padding: 40px 30px 28px 30px;
  }

  & .news-rightbox_item,
  .news-rightbox_item2 {
    flex: 0 0 50%;

    & .news-rightbox_box {
      min-height: 100px;
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }

      & .title-news {
        color: $gray;
        font-family: $Pf_Din;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;

        & strong {
          font-weight: 500;
        }

        &:hover {
          color: $blue;
        }
      }

      & .date-1 {
        margin-top: 10px;
      }
    }
  }
}

.opinion {
  & h2 {
    margin: 0;
    color: $blue;
    font-family: $Pf_Din;
    font-size: 35px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    margin-bottom: 58px;

    &::before {
      display: inline-block;
      content: "";
      width: 37px;
      height: 30px;
      background-image: url("../img/support.svg");
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  & .quotes {
    display: flex;
    justify-content: space-between;

    & .quotes-item {
      flex: 0 0 31.5%;
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      border-radius: 13px;
      padding: 12px 12px 40px 12px;
      position: relative;

      & .opinion-author {
        position: relative;
        width: 94px;
        height: 94px;
        background-color: #ffffff;
        box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.11);
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 0;

        & img {
          display: block;
          width: 87%;
          height: auto;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      & .quotes-icon_box {
        flex: 0 0 25%;
        position: relative;

        & .quotes-icon {
          display: block;
          width: 30px;
          height: 28px;
          background-image: url("../img/quote.svg");
          position: absolute;
          left: 48%;
          top: 57%;
          transform: translate(-50%, -50%);
        }
      }

      & .quotes-info {
        flex: 0 0 70%;

        & .author-name {
          color: #5d6267;
          font-family: $Pf_Din;
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
        }

        & p {
          color: #5d6267;
          font-family: $OpenSans_Regular;
          font-size: 14px;
          font-style: italic;
          line-height: 18px;
        }

        & .date-1 {
          position: absolute;
          bottom: 12px;
        }
      }
    }
  }
}

.radio-block {
  background-color: #fff;
  border-radius: 13px;

  & .radio {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    & .radio-box {
      flex: 0 0 23%;
      position: relative;

      & .icon-radio {
        position: relative;

        & img {
          @extend %img;
        }

        & .radio-elem {
          display: inline-block;
          min-width: 52px;
          min-height: 16px;
          border-radius: 5px;
          background-color: #c63c3c;
          color: #fff;
          font-family: $Pf_Din;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          position: absolute;
          bottom: 1px;
          right: 0;

          &:hover {
            opacity: 0.8;
            color: $white;
          }
        }
      }

      & .radio-box_item1 {
        display: flex;
        padding-top: 10px;

        & .icon-play {
          flex: 0 0 13%;

          & img {
            display: inline-block;
            width: 22px;
            height: 22px;
          }
        }

        & a {
          color: $blue;
          font-family: $Pf_Din;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-decoration: none;
        }
      }

      & .radio-box_item2 {
        & .date-1 {
          position: absolute;
          bottom: 5px;
          left: 0;
        }

        & .radio-box_sticker {
          display: inline-block;
          width: 51px;
          height: 16px;
          border-radius: 5px;
          background-color: $blue;
          color: $white;
          font-family: $Pf_Din;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          line-height: 16px;
          margin-left: 80px;
          position: absolute;
          bottom: 5px;
          right: 0;
        }
      }
    }
  }

  & .marquee-box {
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 13px 13px;
    background-color: rgba(170, 185, 200, 0.41);

    & .radio-btn {
      flex: 0 0 13%;
      padding-left: 8px;

      & a {
        display: inline-block;
        width: 159px;
        height: 29px;
        border-radius: 5px;
        background-color: $dark-blue;
        color: $light-gray;
        font-family: $Pf_Din;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 29px;
        text-decoration: none;

        &::before {
          display: inline-block;
          content: "";
          width: 11px;
          height: 10px;
          background-color: #e6e6e6;
          border-radius: 50%;
          margin-right: 10px;
          line-height: 29px;
        }

        &:hover {
          opacity: 0.8;
          color: $white;
        }
      }
    }

    & .marquee {
      flex: 0 0 82%;
      overflow: hidden;
      white-space: nowrap;

      .marquee-items {
        display: inline-block;
        animation: marquee 20s linear infinite;

        & a {
          color: $blue;
          font-family: $Pf_Din;
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
          margin-right: 43px;

          & span {
            color: $gray;
            margin-right: 10px;
          }
        }
      }

      @keyframes marquee {
        from {
          transform: translateX(100%);
        }

        to {
          transform: translateX(-100%);
        }
      }
    }
  }
}

.top-article,
.news-item,
.news-sidebar_item,
.news-item_2,
.best-news {
  width: 100%;
  border-radius: 13px;
  background-color: $blue;
}

@media (max-width: 575px) {
  .title-news {
    font-size: 18px;
    line-height: 19px;
    margin-top: 3px;
  }

  .podcust {
    flex-direction: column;
    border-radius: 13px;

    & .chif-img_box,
    .chif-img_box img {
      border-radius: 13px 13px 0px 0px;
    }

    & .podcust-news {
      min-height: 150px;
      border-radius: 0px 0px 13px 13px;
    }
  }

  .best-news {
    min-height: 1200px;

    & .best-news_container .best-news_box .best-news_list .best-news_item {
      height: 140px;
    }
  }

  .news-rightbox {
    flex-direction: column;

    & .news-rightbox_item,
    .news-rightbox_item2 {
      padding: 20px 15px;
    }
  }

  .opinion .quotes .quotes-item .opinion-author {
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 767px) {
  main {
    padding: 150px 0px 65px 0px;
  }

  .top-article {
    min-height: 140px;

    &::before {
      z-index: 1;
    }

    & img {
      width: auto;
      height: 100%;
    }

    & .top-article_box {
      padding: 10px;
      z-index: 10;

      & .top-article_info {
        padding-left: 10px;
      }
    }
  }

  .news_small_box {
    height: auto;
    padding-bottom: 50px;
  }

  .best-news {
    min-height: 1030px;

    & img {
      width: auto;
      height: 100%;
    }

    & .best-news_container {
      & .best-news_box {
        flex-direction: column;

        & .best-news_list {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .opinion .quotes {
    flex-direction: column;

    & .quotes-item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      & .opinion-author {
        width: 100px;
        height: 100px;
      }

      & .quotes-icon_box .quotes-icon {
        top: 90%;
      }
    }
  }

  .radio-block {
    width: 85%;
    margin: auto;

    & .marquee-box {
      justify-content: center;

      & .marquee {
        display: none;
      }
    }

    & .radio {
      flex-direction: column;

      & .radio-box {
        height: auto;
        padding: 15px;

        & .radio-box_item1 a {
          font-size: 18px;
        }

        & .radio-box_item2 {
          & .date-1 {
            left: 15px;
          }

          & .radio-box_sticker {
            right: 15px;
          }
        }
      }
    }
  }

  .mb-sm-25 {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .best-news {
    & .best-news_container {
      padding: 15px 15px 20px 15px;

      & h2 {
        font-size: 32px;
      }

      & .best-text {
        margin-bottom: 20px;
      }

      & .best-news_box {
        & .best-news_item {
          height: 140px;
          margin-bottom: 20px;

          & .news-num {
            height: 140px;

            & span {
              line-height: 140px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .top-article .top-article_box {
    & .date {
      padding: 0px 10px 0px 0px;
      height: 70px;

      & span span {
        font-size: 30px;
        line-height: 24px;
      }
    }

    & .top-article_info {
      & .title-news {
        margin: 0;
        font-size: 20px;
      }

      & p {
        display: none;
      }
    }
  }

  .news-item_text,
  .news-item_text2 {
    padding: 0;
  }

  .title-news {
    font-size: 20px;
    line-height: 22px;
    margin-top: 3px;
  }

  .news-item .news-item_box {
    padding: 10px;
  }

  .news_line_noback .line-noback-info .title-news_gray {
    font-size: 20px;
    line-height: 22px;
  }

  .news_small_box {
    padding: 8px;

    & .small-box-info .title-news_gray {
      font-size: 18px;
      line-height: 22px;
      margin-top: 3px;
    }
  }

  .podcust .podcust-news {
    padding: 10px;

    & .title-news_gray {
      font-size: 17px;
      line-height: 20px;
    }

    & .date-1 span {
      bottom: 0;
    }
  }

  .news-rightbox {
    margin-top: 35px;
  }

  .opinion .quotes .quotes-item {
    & .opinion-author {
      width: 70px;
      height: 70px;
    }

    .quotes-icon_box {
      flex: 0 0 30%;
    }

    & .quotes-info {
      flex: 0 0 70%;
    }
  }

  .radio-block {
    & .radio {
      & .radio-box {
        flex: 0 0 25%;
        min-height: 90px;

        &:first-child {
          flex: 0 0 20%;
        }

        & .radio-box_item1 {
          padding: 0;

          & a::before {
            display: inline-block;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url("../img/play.svg");
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 5px;
          }

          & .icon-play {
            display: none;
          }
        }
      }
    }

    & .marquee-box {
      & .marquee {
        flex: 0 0 72%;
      }
    }
  }
}

@media (min-width: 992px) {
  .top-article:hover img {
    filter: blur(8px);
  }

  .top-article,
  .best-news,
  .news_line_noback,
  .podcust,
  .news-rightbox,
  .opinion .quotes .quotes-item {
    &:hover {
      box-shadow: 0 0 18px rgba(35, 96, 146, 0.23);
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .news-sidebar_item .news-item .news-item_box .news-item_info .title-news {
    font-size: 18px;
    line-height: 22px;
  }

  .best-news
  .best-news_container
  .best-news_box
  .best-news_item
  .news-info
  .title-news {
    font-size: 19px;
    line-height: 22px;
  }

  .news-rightbox .news-rightbox_item {
    padding-top: 15px;
    padding-bottom: 15px;

    & .news-rightbox_box {
      margin-bottom: 10px;

      & .title-news {
        font-size: 18px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  .news-rightbox .news-rightbox_item2 {
    padding-top: 15px;
    padding-bottom: 15px;

    & .news-rightbox_box {
      margin-bottom: 10px;

      & .title-news {
        font-size: 18px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  .radio-block .marquee-box .radio-btn {
    flex: 0 0 15%;
  }

  .radio-block .marquee-box .marquee {
    flex: 0 0 78%;
  }
}
