.main-newsbig {
  padding: 217px 0px 100px 0px;
}

.wrapper-bignews {
  border-radius: 17px;
  background-color: #fff;
  padding: 15px 0 30px 0;
  margin-bottom: 50px;
}

.text-link {
  font-family: $OpenSans_Regular;
  font-size: 17px;
  line-height: 28px;
  color: $dark-blue;
  border-bottom: $dark-blue solid 2px;

  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}

.important-text {
  background-color: $blue;
  color: $light-gray;
  padding: 0 3px;
  font-weight: 400;
}

.chif-news_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 0px 58px;

  & .btn {
    margin-bottom: 44px;
  }

  & .breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    & span {
      margin: 0;
    }
  }

  & h1 {
    margin: 0;
    color: #000000;
    font-family: $Pf_Din;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;

    & strong {
      font-weight: 500;
    }
  }

  & .date-1 {
    margin-bottom: 50px;
  }
}

.news-foto_container {
  height: 485px;
  background-color: $blue;
  border-radius: 13px;
  position: relative;
  margin-right: 15px;

  & img {
    @extend %img;
    border-radius: 13px;
  }

  &::before {
    display: block;
    content: " ";
    border-radius: 13px 13px 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background-image: linear-gradient(
      0deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.48) 38%,
      rgba(50, 69, 88, 0.92) 100%
    );
    z-index: 1;
  }

  & .btn-close_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 5;

    & .btn-close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
      background-color: #c63c3c;

      & img {
        width: 18px;
        height: 18px;
      }
    }

    & span {
      color: $blue;
      font-family: $Pf_Din;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.sidebar-newsbig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 58px;
}

.aricle-author-box,
.aricle-author-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  text-align: center;

  & .aricle-author {
    position: relative;
    width: 94px;
    height: 94px;
    background-color: #ffffff;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
    margin-bottom: 20px;

    & img {
      display: block;
      width: 87%;
      height: auto;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .author-name {
    color: #5d6267;
    font-family: $Pf_Din;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
  }

  & .authore-info {
    color: $dark-blue;
    font-family: $Pf_Din;
    font-size: 17px;
    font-weight: 400;
  }
}

.aricle-author-box {
  flex: 0 0 30%;

  &::after {
    display: block;
    content: "";
    width: 30px;
    height: 28px;
    background-image: url("../img/quote.svg");
    margin-top: 20px;
  }
}

.subtitle {
  align-self: flex-start;
  flex: 0 0 30%;
  color: $dark-blue;
  font-family: $Pf_Din;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  border-top: #236092 solid 9px;
  padding: 20px 40px;
}

.article {
  padding: 0 15px 15px 15px;

  & p {
    color: #000000;
    font-family: $OpenSans_Regular;
    font-size: 17px;
    line-height: 28px;

    & .strong-text {
      font-weight: 700;
    }
  }
}

.wrapper-quote {
  background-color: rgba(170, 185, 200, 0.36);
  padding: 18px 18px 18px 58px;

  & .article-quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    padding: 30px 12px 50px 12px;

    & .author-name {
      flex: 0 0 26%;
      color: #5d6267;
      font-family: $Pf_Din;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 24px;
    }

    & .article-quote-text {
      position: relative;
      flex: 0 0 74%;
      color: #5d6267;
      font-family: $OpenSans_Regular;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      padding-left: 50px;

      &::before {
        display: inline-block;
        content: "";
        width: 30px;
        height: 28px;
        background-image: url("../img/quote.svg");
        position: absolute;
        left: 0px;
        top: -5px;
        fill: #236092;
      }

      &::after {
        display: inline-block;
        content: "";
        width: 30px;
        height: 28px;
        background-image: url("../img/quote.svg");
        position: absolute;
        bottom: -40px;
        right: 10px;
        transform: rotate(180deg);
      }
    }
  }
}

.article .article-comment {
  position: relative;
  color: $dark-blue;
  font-family: $Pf_Din;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;

  &::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 28px;
    background-image: url("../img/quote-blue.svg");
    position: absolute;
    left: -60px;
    top: -5px;
    fill: #236092;
  }
}

.article-img_box {
  height: 570px;
  margin-left: 58px;
  margin-right: 15px;
  background-color: $blue;
  border-radius: 13px;
  position: relative;
  color: #fff;
  font-family: $Pf_Din;
  font-size: 17px;
  font-weight: 400;

  &::before {
    display: block;
    content: " ";
    border-radius: 0 0 13px 13px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.48) 38%,
      rgba(50, 69, 88, 0.92) 100%
    );
    z-index: 1;
  }

  & img {
    @extend %img;
    border-radius: 13px;
  }

  & span {
    position: absolute;
    bottom: 15px;
    right: 40px;
    z-index: 5;
  }
}

.article-quote .aricle-author-box2 .authore-info {
  color: $blue;
  font-family: $Pf_Din;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

.news-statistics_box {
  padding: 0px 23px 0px 58px;
  color: #000;
  font-family: $OpenSans_Regular;
  font-size: 18px;
  text-align: center;

  & .news-statistics_title {
    color: #000;
    font-family: $Pf_Din;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 58px;
  }

  & .news-statistics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;

    & li {
      flex: 0 0 40%;
      min-height: 230px;
      text-align: center;
      padding-bottom: 20px;
      position: relative;
      margin-bottom: 30px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }

      &::after {
        display: inline-block;
        content: "";
        width: 54px;
        height: 14px;
        background-image: url("../img/sea-waves2.svg");
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      & span {
        color: $dark-blue;
        font-family: $Pf_Din;
        font-size: 55px;
        font-weight: 500;
      }

      & p {
        margin: 0;
      }
    }
  }
}

.resume {
  color: $dark-blue;
  font-family: $Pf_Din;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  padding: 50px 0px;

  &::before {
    display: inline-block;
    content: "";
    width: 54px;
    height: 14px;
    background-image: url("../img/sea-waves2.svg");
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    display: inline-block;
    content: "";
    width: 54px;
    height: 14px;
    background-image: url("../img/sea-waves2.svg");
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & li {
    margin-bottom: 10px;
    padding: 0px 15px 0px 60px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      display: inline-block;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $dark-blue;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    & p {
      margin: 0;
    }
  }
}

.title-category_newsbig {
  color: $blue;
  font-family: $Pf_Din;
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;

  &::before {
    display: inline-block;
    content: "";
    width: 36px;
    height: 30px;
    background-image: url("../img/folded-newspaper.svg");
    margin-right: 12px;
    vertical-align: middle;
  }
}

@media (max-width: 575px) {
  .wrapper-quote .article-quote {
    flex-direction: column;
  }

  .news-statistics_box .news-statistics li {
    flex: 0 0 100%;
  }

  .wrapper-quote .article-quote {
    & .aricle-author-box, .aricle-author-box2 {
      margin-bottom: 20px;
    }
  }

  .wrapper-quote .article-quote .author-name{
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .sidebar-newsbig {
    flex-direction: column;
  }

  .aricle-author-box {
    margin-bottom: 10px;
  }

  .subtitle {
    flex: 0 0 100%;
    margin: auto;

    & span {
      display: block;
      text-align: center;
    }
  }

  .news-statistics_box {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .chif-news_box {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    & .btn {
      margin: 0;
      margin-right: 15px;
    }

    & .breadcrumb {
      margin: 0;
      flex-direction: row;
      align-items: center;
      height: 21px;
    }

    & h1 {
      margin: 0;
      margin: 20px 0;
    }

    & .date-1 {
      margin: 0;
    }

    & .social2 {
      margin-left: auto;
    }
  }

  .news-foto_container {
    margin-left: 15px;
  }

  .sidebar-newsbig {
    padding: 15px;
  }

  .subtitle {
    padding: 5px;
  }

  .article-img_box {
    margin: 0 15px;
  }

  .wrapper-quote {
    padding: 18px;
  }
}
