.news-item {
  position: relative;
  overflow: hidden;
  border-radius: 13px;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    border-radius: 0 0 13px 13px;
    background-image: linear-gradient(
      180deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.48) 38%,
      rgba(50, 69, 88, 0.92) 100%
    );
    z-index: 1;
  }

  &::after {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 13px;
    background-image: linear-gradient(
      180deg,
      rgba(50, 69, 88, 0.36) 0%,
      rgba(50, 69, 88, 0.49) 38%,
      #324558 100%
    );
    border-radius: 13px;
    z-index: 5;
    opacity: 0;
  }

  & .chif-img {
    @extend %img;
    border-radius: 13px;
  }

  .news-item_box {
    padding: 20px;
    border-radius: 13px;
    position: absolute;
    left: 0;
    // top: 50%;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.news-item_text,
.news-item_text2 {
  color: $white;
  font-family: $OpenSans_Regular;
  font-size: 13px;
  line-height: 20px;
  font-style: italic;
  font-weight: 300;
  padding-top: 15px;
  overflow-y: scroll;

  & p {
    margin: 0;
    display: none;
    animation: blockHover 1s linear;
  }
}

@keyframes blockHover {
  0% {
    top: 50%;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
    display: block;
  }
}

@media (min-width: 992px) {
  .news-item {
    &:hover {
      &::after {
        opacity: 1;
      }

      .chif-img {
        filter: blur(8px);
      }

      & .news-item_box {
        top: 0;
        animation: blockHover 1s ease-out;

        & .news-item_info .date-1 {
          margin-bottom: 10px;
        }

        & .news-item_text {
          height: 50%;

          & p {
            display: block;
            animation: blockHover 1s ease-out;
          }
        }
      }
    }
  }

  .box-50:hover {
    display: flex;
    justify-content: space-between;

    & .news-item_info {
      flex: 0 0 57%;
      padding-right: 5px;

      & .title-news {
        font-size: 22px;
      }
    }

    & .news-item_text {
      flex: 0 0 43%;
    }
  }

  .news-item_box:hover .news-item_text2 {
    height: 100%;

    & p {
      display: block;
    }
  }

  .news-item_2:hover .chif-img {
    filter: blur(8px);
  }

  .news-item,
  .news-sidebar_item,
  .news-item_2 {
    &:hover {
      box-shadow: 0 0 18px rgba(35, 96, 146, 0.23);
    }
  }
}