.news-item_2 {
  position: relative;
  overflow: hidden;
  border-radius: 13px;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 13px;
    background-image: linear-gradient(
      253deg,
      rgba(170, 185, 200, 0) 0%,
      rgba(107, 124, 142, 0.48) 38%,
      rgba(50, 69, 88, 0.92) 100%
    );
    z-index: 1;
  }

  & .chif-img {
    @extend %img;
    border-radius: 13px;
  }

  & .news-item_box-2 {
    position: absolute;
    top: 98px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 2;

    & .date-1 {
      margin-top: 21px;
    }

    & .sticker-partners {
      position: absolute;
      bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .news-item_2:hover .chif-img {
    filter: blur(8px);
  }
}