* {
  transition: 0.5s;
}

ul {
  list-style: none;
  @extend %Reset;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #f6f6f6;
  background-size: 100%;
  position: relative;
}

.link-container {
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.title-news {
  display: block;
  color: $light-gray;
  font-family: $Pf_Din;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 26px;

  & strong {
    font-weight: 400;
  }
}

.title-news_gray {
  display: block;
  color: #5d6267;
  font-family: $Pf_Din;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;

  & strong {
    font-weight: 500;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: auto;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #aab9c8;
}
