* {
  transition: 0.5s;
}

ul {
  list-style: none;
  @extend %Reset;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #f6f6f6;
  background-size: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.small-icon_youtube::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 15px;
  background-image: url("../img/youtube-play-button.svg");
  margin-right: 10px;
}

.small-icon_photo::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 20px;
  background-image: url("../img/photo-camera.svg");
  margin-right: 10px;
}