.btn {
  padding: 0;
  border: 0;
  display: inline-block;
  width: 105px;
  height: 23px;
  border-radius: 5px;
  color: $white;
  font-family: $Pf_Din;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-red {
  background-color: $red;
}

.btn-blue {
  background-color: $blue-btn;
}

.btn-brown {
  background-color: $dark-brown;
}