.header {
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 2px 22px rgba(170, 185, 200, 0.66);
  padding-bottom: 1px;
  z-index: 100;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.social {
  & ul {
    display: flex;

    & li {
      width: 44px;
      height: 43px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & svg {
    fill: $blue;

    &:hover {
      fill: $dark-blue;
    }
  }
}

.logo {
  justify-self: center;
  display: block;
  width: 322px;
  height: 54px;
  margin-right: 60px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.search {
  & input {
    border: 0;
    display: none;
    width: 70%;
    height: 40px;
    border-bottom: $white solid 1px;
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);

    &::placeholder {
      color: $white;
      text-align: center;
      font-family: $OpenSans_Regular;
      font-size: 16px;
    }
  }

  & div {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 100;

    & svg {
      fill: $blue;

      &:hover {
        fill: $dark-blue;
      }
    }
  }

  &:hover .search_input {
    display: block;
  }

  &:hover .header {
    box-shadow: inset 0 -6px 9px #aab9c8;
    background-color: rgba(170, 185, 200, 0.82);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
.nav_list {
  padding: 0;
  height: 32px;
  font-family: $Pf_Din;
  font-weight: 500;
  text-transform: uppercase;

  & ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & li {
    padding: 5px 0px;
    border-bottom: rgba(0, 0, 0, 0) solid 3px;

    &.active {
      border-bottom: $dark-blue solid 3px;
    }
  }

  & a {
    padding: 0;
    display: inline-block;
    text-decoration: none;
  }
}

.nav_blue {
  flex: 0 0 55%;

  & li:hover {
    border-bottom: $dark-blue solid 3px;
  }

  & a {
    font-size: 20px;
    color: $dark-blue;
  }
}

.languages {
  font-family: $Pf_Din;
  font-weight: 400;
  text-transform: uppercase;

  & a {
    display: inline-block;
    width: 27px;
    height: 26px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      border-radius: 5px;
      border: 1px solid rgba(170, 185, 200, 0);
      background: rgba(170, 185, 200, 0.3);
    }

    &.active {
      border-radius: 5px;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}

.lang_ligth-gray a {
  color: $blue;
}

body.sticky-header {
  .header {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 3px 0px;
  }

  .lang_ligth-gray {
    display: none;
  }

  .social {
    display: none;
  }

  .menu {
    justify-content: flex-end;
    padding-right: 70px;
  }

  .logo {
    width: 161px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 10px;
  }

  .navbar ul li {
    padding: 0;
  }

  .search {
    position: absolute;
    right: 15px;
    top: 5px;

    & svg {
      width: 34px;
      height: 34px;
    }
  }

  & .radio-header {
    display: none;
  }
}

.radio-header {
  display: inline-block;
  width: 168px;
  border-radius: 8px;
  position: relative;
  padding-bottom: 6px;

  & .icon-radio_box {
    position: relative;

    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 6px;
    }

    & div {
      width: 42px;
      height: 13px;
      color: #fff;
      font-family: $Pf_Din;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      background-color: $red;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  & .radio-header_menu {
    display: block;
    width: 168px;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(50, 85, 118, 0.89);
    padding: 8px 8px 8px 8px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    margin-top: -5px;

    & .radio-menu_item-box {
      height: 160px;
      overflow-y: scroll;

      & .radio-menu_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        & .play-box {
          flex: 0 0 18%;
          display: inline-block;
          width: 23px;
          height: 23px;
          background-image: url("../img/play.svg");
          background-repeat: no-repeat;
        }

        & .play-list {
          flex: 0 0 77%;

          & span {
            display: inline-block;
            color: $gray;
            font-family: $Pf_Din;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 3px;
          }

          & a {
            display: block;
            color: $blue;
            font-family: $Pf_Din;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
    }

    & .btn {
      display: block;
      margin: auto;
      margin-top: 5px;

      &::before {
        display: inline-block;
        content: "";
        width: 17px;
        height: 17px;
        // background-image: url("../../img/speaker.svg");
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav_blue {
    flex: 0 0 66%;
  }
}
